html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #111111;
  font-family: "Big Shoulders", sans-serif;
}

.maplibregl-map {
  width: 100%;
  height: 100%;
}

#settings * {
  margin: 0;
}

#settings {
  position: absolute;
  border: 1px #fff solid;
  top: 8px;
  left: 8px;
  max-width: calc(100vw - 72px);
  max-height: calc(100vh - 16px);
  z-index: 100;
  background-color: #111;
  color: #fff;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size-adjust: 0.5;
}

#settings > details {
  display: flex;
  flex-direction: column;
  border: 1px white solid;
  padding: 8px;
  font-size-adjust: 0.6;
}

#settings > details > *:not(:first-child) {
  margin-top: 4px;
}

.maplibregl-popup-content {
  display: flex;
  flex-direction: column;
  gap:4px;
}

.maplibregl-popup-content * {
  margin: 0;
}

.maplibregl-popup-content > ul {
  padding-inline-start: 16px;
}

a, a:visited {
  color: #fff;
}