html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #111111;
}

.maplibregl-map {
  width: 100%;
  height: 100%;
}

#settings {
  position: absolute;
  border: 1px #fff solid;
  top: 8px;
  left: 8px;
  right: 48px;
  z-index: 100;
  background-color: #111;
  color: #fff;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#settings details {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.maplibregl-popup-content {
  display: flex;
  flex-direction: column;
  gap:4px;
}

.maplibregl-popup-content > * {
  margin: 0;
}

.maplibregl-popup-content > ul {
  padding-inline-start: 16px;
}

a, a:visited {
  color: #fff;
}